<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Applications">
  <item label="Qalculate">
    <action name="Execute">
      <command>qalculate-gtk</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Thunderbird">
    <action name="Execute">
      <command>thunderbird</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="GitKraken">
    <action name="Execute">
      <command>gitkraken</command>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="VSCode">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Sublime Text 3">
    <action name="Execute">
      <command>subl3</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="TexStudio">
  	<action name="Execute">
  		<command>texstudio</command>
  		<startupnotify>
        	<enabled>yes</enabled>
      </startupnotify>
  	</action>
  </item>
  <item label="Boostnote">
    <action name="Execute">
      <command>boostnote</command>
      <startupnotify>
          <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Termite">
    <action name="Execute">
      <command>termite</command>
    </action>
  </item>
  <item label="Xfce Terminal">
    <action name="Execute">
      <command>xfce4-terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="Writer">
    <action name="Execute">
      <command>wps</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Spreadsheets">
    <action name="Execute">
      <command>et</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Presentation">
    <action name="Execute">
      <command>wpp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="NCMP++">
    <action name="Execute">
      <command>termite -e ncmpcpp</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="VLC">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

 <menu id="display-configuration" label="Display">
    <item label="Laptop Only">
      <action name="Execute">
        <command>/home/russell/.screenlayout/single_home.sh</command>
      </action>
    </item>
    <item label="Dual Screen (H)">
      <action name="Execute">
        <command>/home/russell/.screenlayout/desk_home.sh</command>
      </action>
    </item>
    <item label="Dual Screen (V)">
      <action name="Execute">
        <command>/home/russell/.screenlayout/dual_vertical.sh</command>
      </action>
    </item>
  </menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify>
      	<enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Open Openbox folder in Sublime">
    <action name="Execute">
      <command>subl3 ~/.config/openbox/</command>
    </action>
  </item>
  <item label="LxAppearance Configuration Manager">
    <action name="Execute">
      <command>lxappearance</command>
      <startupnotify>
      	<enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Tint2 Configuration Manager">
    <action name="Execute">
      <command>tint2conf</command>
      <startupnotify>
      	<enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Steam">
    <action name="Execute">
      <command>steam</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Typora">
    <action name="Execute">
      <command>Typora</command>
    </action>
  </item>
  <separator label="Applications" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <menu id="display-configuration"/>
  <separator />
  <item label="Log Out">
    <action name="Execute">
      <command>oblogout</command>
    </action>
  </item>
</menu>
</openbox_menu>